.authFormContainer {
    background-color: rgba(255, 255, 255, 0.57);
    height: 600px;
    width: 500px;
    border-radius: 20px;
    padding: 30px;
    top:80%;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: content-box;
    -webkit-box-shadow: 9px 11px 38px -17px rgba(61, 61, 61, 1);
    -moz-box-shadow: 9px 11px 38px -17px rgba(61, 61, 61, 1);
    box-shadow: 9px 11px 38px -17px rgba(61, 61, 61, 1);
    justify-content: center;
    display: flex;
}