/*Common use for login.js- start*/
.leftSideImage {
   position: relative;
    /*object-fit: contain;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    /*background-position: left;*/
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    z-index: -1;
}
/*Common use for login.js-end*/

.signupButton {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: #9c27b0;
    font-weight: bold;
    font-size: 35px;
    font-family: "Roboto Light, roboto";
}

.background {
    background-color: rgba(255, 255, 255, 0.57);
    /*height: 700px;*/
    width: 500px;
    border-radius: 20px;
    padding: 30px;
    top: 50%;
    -webkit-box-shadow: 9px 11px 38px -17px rgba(61, 61, 61, 1);
    -moz-box-shadow: 9px 11px 38px -17px rgba(61, 61, 61, 1);
    box-shadow: 9px 11px 38px -17px rgba(61, 61, 61, 1);
}

.input-text {
    margin-top: 30px;
    position: relative;
    background-color: white;
    border-radius: 15px;
}

.input-text .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 15px;
    cursor: pointer
}

.fa-eye {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 15px;
    cursor: pointer
}
